/*
 *这是单独为hello yyan准备的个性化css，可以覆盖标准yyan的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 *
 * */
.yyan-plus header.yyan-bar{
	display: none;
}
.yyan-plus .yyan-bar-nav~.yyan-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello yyan示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}
